WHEN_TO_START = 8
HOURS_TO_PRINT = 4
STYLESHEET_PATH = '../css/nord.css'
OUTFILE = './my_data/out.html'
USE_KEYWORD_LIST = False
CHRISTMAS_KEYWORDS = Christmas,Holida,Hanukkah,Santa,Claus,Noel,Klaus,Merry
TRIGGER_KEYWORDS = widow,aneurysm,assault,abuse,cruel
DEV_MODE = False
